body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /*justify-content: center;*/
    height: 100vh;
    overflow-y: auto;
}

textarea {
    height: 80% !important;
    margin: 1%;
}

.form-floating {
    height: 50%;
    width: 90%;
}

table {
    width: 90% !important;
}

canvas {
    transform: scale(0.7);
    font-size: 100px !important;
}

#heading {
    padding: 1%;
}
